<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.chatever">
    <uses-permission android:name="com.android.permission.INTERNET" />
    <uses-permission android:name="com.android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:theme="@style/Theme.ChatEver"
        android:usesCleartextTraffic="true">
        <activity android:name="com.android.chatever.ChatLiveActivity" />


        <service
            android:name="com.android.chatever.Firebase.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.android.chatever.HomeActivity" />
        <activity
            android:name="com.android.chatever.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.android.chatever.CodeVerificationActivity"
            android:exported="true" />
        <activity
            android:name="com.android.chatever.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="com.android.intent.action.VIEW" />

                <category android:name="com.android.intent.category.DEFAULT" />
                <category android:name="com.android.intent.category.BROWSABLE" />

                <data
                    android:host="chattever.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="com.android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="vnd.android.cursor.dir/contact" />
        </intent>
    </queries>
</manifest>